li {
  font-size: 1rem;
  color: rgb(66, 66, 66);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 1rem;
  background-color: #f5f5f5;
  font-weight: 500;
  margin-top: .25rem;
}
li:hover {
  background-color: rgb(235, 236, 237);
}
li a {
  cursor: pointer;
  display: block;
  width: 100%;
}